<h1>Registro</h1>

<form id="registerForm">
    <label for="username">Username</label>
    <input id="username">

    <label for="password">Contraseña</label>
    <input id="password" type="password">

    <button type="submit">Enviar</button>
</form>
<p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>

<script src="/js/register.js"></script>