<h1>Registro</h1>
<form id="registerForm">
    <label for="inputUsernameRegister">Usuario</label><input id="inputUsernameRegister" name="username">
    <label for="inputPasswordRegister">Contraseña</label><input id="inputPasswordRegister" name="password">
    <button type="submit">Registrarse</button>
</form>
<p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>

<script src="/js/register.js"></script>